
<h1> Contact Book </h1>
<ul>
  <% @persons.each() do |person| %>
    <li><%= person.first_name() %>
    <%= person.last_name() %></li>
    <li><%= person.job_title() %></li>
    <li><%= person.company() %></li>
  <% end %>
  <% @emails.each() do |email| %>
  <li><%= email.new_email() %></li>
  <% end %>
  <form action = "/email" method = "post">
    <label for = "email"></label>
    <input id="email" name="email" type="text" placeholder = "Add Email">
  </ul>
</form>
